@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navbar-right-menu .page-menu:nth-child(1) {
    color: #2D9CDB;
}

/* ----------------------- Page Content ---------------------------- */

#carousel-news {
    width: 100%;
    height: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#carousel-news .carousel-inner, #carousel-news .carousel-item {
    height: 100%;
}

#carousel-news .carousel-indicators li.active {
    background-color:#29AAFE;
}

/* Dot Carousel Indicator */
#carousel-news .carousel-indicators li {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}

#carousel-news .news-1 {
    background-color: rgba(45, 156, 219, 0.15);
    height: 100%;
}

#carousel-news .news-1 .col-6:nth-child(1) {
    padding-left: 5em;
    padding-right: 5em;
}

#carousel-news .news-1 .col-6:nth-child(1) p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: 2em;
    color: black;
}

#carousel-news .news-1 .col-6:nth-child(1) a {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    font-size: 1.3em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    cursor: pointer;
}

#carousel-news .news-1 .col-6:nth-child(2) img {
    width: 25em;
    height: 25em;
}

/* ---- Search Input ---- */

.search-input {
    margin-bottom: 2em;
}

.search-input > div {
    margin-bottom: 0.5em;
}

.input-group {
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 1em;
    background-color: white;
}

.input-group .input-group-prepend .input-group-text {
    background-color: transparent;
    border: none;
}

.input-group > .form-control {
    background-color: transparent;
    border: none;
}

.input-group > .form-control:focus {
    box-shadow: none;
    border: none;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

input::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

input:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

input:-moz-placeholder { /* Firefox 18- */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.list-job > div {
    margin-bottom: 2em;
}

.list-job .card {
    border: none;
    box-shadow: 20px 15px 50px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.list-job .card .card-img-top {
    width: 100%;
    height: 13em;    
    object-fit: contain;
    object-position: center;
}

.list-job .card .card-body {
    text-align: center;
}

.list-job .card .card-title {    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.list-job .card .card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95em;
    color: black;
    height: 4.4em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.list-job .card .card-body .btn {
    display: inline-block;
    background-color: #2D9CDB;
    color: white;
    border-radius: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.list-job .card .card-body .btn:hover {
    background-color: #1e7bb0;
}

#detail-job-modal .modal-content {
    border: none;
}

#detail-job-modal .modal-body {
    padding: 1.5em;
}

#detail-job-modal .modal-content .modal-header, 
#detail-job-modal .modal-content .modal-footer {
    border: none;
}

#detail-job-modal .company-info {
    display: flex;
    margin-bottom: 2.5em;
}

#detail-job-modal .company-info .company-img {
    width: 10em;
    height: 9em;
    overflow: hidden;
    border-radius: 0.5em;
    margin-right: 1.5em;
    border: 1px solid #c9c9c9;
}

#detail-job-modal .company-info .company-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#detail-job-modal .company-info .company-name-location {
    width: calc(100% - 8.5em);
}

#detail-job-modal .company-info .company-name-location .company-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#detail-job-modal .company-info .company-name-location .company-location {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
}

#detail-job-modal .company-info .company-name-location .fa-map-marker-alt {
    color:#2D9CDB;
}

#detail-job-modal .job-name,
#detail-job-modal .job-type-salary,
#detail-job-modal .job-description {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.75em;
}

#detail-job-modal .job-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.5em;  
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#detail-job-modal .job-type-salary > div:nth-child(1) {
    border-right: 1px solid #ced4da;
}

#detail-job-modal .job-type-salary > div:nth-child(2) {
    border-left: 1px solid #ced4da;
}

#detail-job-modal .job-type-salary .job-side-head {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#detail-job-modal .job-type-salary .job-side-detail {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

#detail-job-modal .job-description > div { 
    margin-bottom: 0.5em;
}

#detail-job-modal .job-description p {
    font-family: 'Poppins', sans-serif;
}

#detail-job-modal .modal-footer {
    padding-left: 2em;
    padding-right: 2em;
}

#detail-job-modal .modal-footer .btn-favorite-job {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 2px 4px rgba(32, 28, 28, 0.25);
}

#detail-job-modal .modal-footer .btn-favorite-job > .fas.fa-heart {
    color: #F44747;
}

#detail-job-modal .modal-footer .btn-apply-job {
    background: #2D9CDB;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#detail-job-modal .modal-footer .btn-apply-job:hover {
    background: #5cb2e3;
}

#apply-job-modal .modal-header {
    border: none;
}

#apply-job-modal .modal-footer {    
    display: flex;
    justify-content: center;
    border: none;
    padding: 0;
    margin: 0;
}

#apply-job-modal .modal-footer a {
    display: block;
    border: none;
    width: 50%;
    margin: 0;
    background-color: #EFEFEF;
    padding: 2.5%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#apply-job-modal .modal-footer a:hover {
    background-color: #bdbdbd;
}

#apply-job-modal .modal-footer a:nth-child(1) {
    border-right: 1px solid #C4C4C4;
}

#apply-job-modal .modal-footer a:nth-child(2) {
    border-left: 1px solid #C4C4C4;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: none;
    }

    #carousel-news {
        height: 22em;
    }

    #carousel-news .news-1 .col-6:nth-child(1) {
        padding-left: 4em;
        padding-right: 4em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(1) p {
        font-size: 1.4em;
        line-height: 1.4em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(1) a {
        font-size: 1em;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(2) img {
        width: 18em;
        height: 18em;
    }
}

@media screen and (max-width: 767px) {
    #carousel-news .news-1 .col-6:nth-child(1) {
        padding-left: 3em;
        padding-right: 3em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(1) p {
        font-size: 1.2em;
        line-height: 1.4em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(2) img {
        width: 15em;
        height: 15em;
    }

    .list-job {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 576px) {
    #carousel-news {
        height: 15em;
    }

    #carousel-news .carousel-indicators li {
        width: 0.4em;
        height: 0.4em;
    }    

    #carousel-news .news-1 .col-6:nth-child(1) {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(1) p {
        font-size: 0.6em;
        line-height: 1.4em;
        margin-bottom: 1em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(1) a {
        font-size: 0.5em;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #carousel-news .news-1 .col-6:nth-child(2) img {
        width: 8em;
        height: 8em;
    }

    .list-job > div {
        margin-bottom: 1em;
    }

    .list-job {
        padding: 0;        
    }

    .list-job .col-6 {
        padding: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .list-job .card {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .list-job .card .card-body {
        padding: 7%;
    }

    .list-job .card .card-img-top {        
        height: 10em;
    }    

    .list-job .card .card-body .card-title {       
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
        font-weight: b;
        text-align: left;        
    }

    .list-job .card .card-body .card-text {        
        text-align: left;
    }

    .list-job .card .card-body .btn {
        display: none;
    }

    #detail-job-modal .modal-content {
        height: 100%;
    }

    #detail-job-modal .modal-body {
        padding: 0.4em;
    }

    #detail-job-modal .company-info {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
        padding-right: 1em;
    }

    #detail-job-modal .company-info .company-img {
        width: 100%;      
        height: 18em;
        margin: 0;
    }    
    
    #detail-job-modal .company-info .company-name-location {
        margin-top: 0.5em;
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    #carousel-news .news-1 .col-6:nth-child(2) img {
        width: 6.5em;
        height: 6.5em;
        background-position: left;
    }

    #detail-job-modal .company-info .company-img {
        width: 100%;
        height: 15em;
        margin: 0;
    }
}